.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 300px;
    width: 450px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);

}

.amount, .result{
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.from-currency-option, .to-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.arrow-icon{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: -20px;
}

.header-div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

.body-div{
    margin-top: 25px;
}

.exchangeButton{
    width: 100px;
    height: 30px;
    background-color: #04B368;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}